<h2>second technique</h2>

<h5>Page: {{page}} </h5>
<h5>Per Page: {{perPage}}</h5>
<h5>Total: {{total}}</h5>
<button {{action "looksy"}}>Looksy</button>
<button {{action "nextPage"}}>Next Page</button>
<hr />

{{#each photo in controller}}
  <div>
    <image {{bindAttr src="photo.url_sq"}} />
  </div>
{{else}}
  <div>wait for it....</div>
{{/each}}

