<h2>Flickr's Recent Photos</h2>
<h4>Page: {{page}} </h4>
<h4>Per Page: {{perPage}}</h4>
<h4>Total: {{total}}</h4>
<button {{action "nextPage"}}>Next Page</button>
<button {{action "looksy"}}>Looksy</button>
<hr />
{{outlet}}

